<%- include('../template/head')-%>

    <body>
        <div>
            <%- include('../template/navbar.ejs')-%>

                <main>
                    <h1>Our Courses</h1>
                    <ul>
                        <% courses.forEach((course) => {%>
                            <a href="<%= course.url%>">
                                <%= course.name%>
                            </a><br>
                            <%})%>
                    </ul>
                </main>
                <%- include('../template/footer.ejs')-%>
        </div>
    </body>

    </html>